.main-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
}

.main-title-cover {
  background-image: url("../img/background-home.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding-top: 73px;
  padding-bottom: 120px;
}

.catalog-nav__link {
  text-decoration: none;
}

.catalog-nav__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.catalog-nav__item--furniture {
  background-color: #63d1bb;
}

.catalog-nav__item--toys {
  background-color: #56c3b2;
}

.catalog-nav__list {
  margin-bottom: 35px;
}
