.main-form__title {
  .page-title;
}

.main-form__intro {
  font-size: 13px;
  line-height: 24px;
}

.form-fieldset {
  border: none;
}

.form-legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}

.form__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.input-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

input::placeholder {
  .input-text;
}

.other-info__textarea {
  .input-text;
}

.main-form__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
