.navigathion-link {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000000;
}

.site-list__link {
  .navigathion-link;
}

.user-list__link {
  .navigathion-link;
}

.promo-list__link {
  .navigathion-link;
}

// страница

.main-nav {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// логотипы

.header__logo__cover {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__logo--tablet {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: flex;
  }
}

.header__logo--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

// списки

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    order: 0;
  }
}

.promo-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.main-nav__text {
  display: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-column: 3 / 4;
  }
}
