.reviews {
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "one two"
      "three four";
    background-image: url("../img/review-background.jpg");
    background-position: left;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 83px;
    padding: 82px 0 47px 50px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    padding: 82px 0 47px 174px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
}

.reviews__title {
  .section-title;
  margin-bottom: 14px;
  grid-area: one;

  @media (min-width: @tablet-width) {
    .section-title-table;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    .section-title-desctop;
    margin-bottom: 35px;
  }
}

.reviews__button {
  grid-area: two;
  margin-left: auto;
}

.reviews__item {
  display: none;
  padding: 0;
  margin: 0;
}

.reviews__item--active {
  display: flex;
  flex-direction: column;
  grid-area: three;
}

.reviews__button-cover {
  grid-area: four;
  margin-top: auto;
  margin-left: auto;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: 700px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
}
