.reviews {
  width: 260px;
  margin: 0 auto;
  padding: 29px 30px 45px 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: "one two"
      "three four";
    background-image: url("../img/review-background.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 83px;
    padding: 82px 0 47px 50px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    padding: 82px 0 47px 174px;
    box-sizing: border-box;
    margin-bottom: 60px;
  }
}

.reviews__title {
  .section-title;
  margin: 0;
  margin-bottom: 14px;
  grid-area: one;

  @media (min-width: @tablet-width) {
    .section-title-table;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    .section-title-desctop;
    margin-bottom: 35px;
  }
}

.reviews__button {
  @media (min-width: @tablet-width) {
    grid-area: two;
    margin-left: auto;
    width: 175px;
  }
}

.reviews__item {
  display: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__item--active {
  display: flex;
  flex-direction: column;
  grid-area: three;
}

.reviews__button-cover {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    grid-area: four;
    margin-top: auto;
    margin-left: auto;
  }
}

.reviews__button-cover button {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ececec;
  height: 52px;
  width: 130px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.reviews__button-cover button::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon/huge-arrow.svg");
  width: 50px;
  height: 26px;
  top: 13px;
  left: 38px;
}

.reviews__next {
  rotate: 180deg;
}


.reviews__text {
  font-size: 15px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    width: 700px;
    margin-bottom: 61px;
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
}
